*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{

    background-image: radial-gradient(rgb(12, 87, 230), rgb(0, 7, 27));
    
}

/* Cabeçalho 
Imagem de topo
Texto de sinopse
*/
header{

    background-image: linear-gradient(rgb(238, 115, 1), rgb(253, 166, 3));

    width: 100dvw;
    min-width: 300px;
    
    height: 20dvh;
    min-height: 110px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#img_topo{

    
    width: 80%;
    max-width: 1000px;
    

}

#sinopse{

    color: white;
    
    font-family: sans-serif;
    
    text-align: center;
    text-shadow: 1px 1px 8px black;

    font-size: 15px;
    max-width: 1000px;

    font-weight: 700;
    margin: 2px;
    

}

/* Main (menu principal)
Gif Full-Stack
Menus de UC's
*/
main{

    background-image: url(../images/fundo.png);
    background-size: 80px;
    
    
    width: 100dvw;
    min-width: 300px;
    
    height: 70dvh;
    min-height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#gif{

    width: 50%;
    border-radius: 10px;
    margin-top: 20px;

}

section{
    
    width: 100%;
    max-width: 1200px;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.dis{

    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px white;
    border-radius: 10%;
    
    height: 80px;
    width: 130px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.indis{


    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10%;
    
    height: 80px;
    width: 130px;

    display: flex;
    align-items: center;
    justify-content: center;


}

a{

    text-decoration: none;
    color: rgb(255, 255, 255);
}

#aga1{

    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 20px;

}

#aga2{

    font-family: sans-serif;
    text-align: center;
    font-size: 10px;
}

#aga3{

    font-family: sans-serif;
    text-align: center;
    font-size: 10px;
    
}


footer{

    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-around;
    align-items: center;
 
    width: 100dvw;
    min-width: 300px;

    height: 10dvh;
    min-height: 50px;

    

}

#botons{

    display: flex;
   
    
    
    max-width: 900px;
    min-width: 300px;

    gap: 5px;
    

    

}

#bola1{

    background-color: rgb(238, 115, 1);

   height: 50px;
   width: 50px;
   border-radius: 50%;

   display: flex;
   justify-content: center;
   align-items: center;
   

}

#bola2{

   background-color: rgb(8, 50, 145);

   height: 85%;
   width: 85%;
   border-radius: 50%;

   display: flex;
   align-items: center;
   justify-content: center;


}

#logos{

    height: 75%;
    width: 75%;
    
}