*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{

    background-image: radial-gradient(rgb(12, 87, 230), rgb(0, 7, 27));
    
    display: flex;
    flex-direction: column;
    

    height: 100vh;
    min-height: 100dvh;
    min-width: 300px;
    
}

header{

    background-image: linear-gradient(rgb(238, 115, 1), rgb(253, 166, 3));

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

#img_topo{

    width: 95%;
    max-width: 1200px;
    
    margin: 10px;

}

#sinopse{

    color: white;
    
    font-family: sans-serif;
    
    text-align: center;
    text-shadow: 1px 1px 8px black;
    font-size: 1rem;
    font-weight: 700;
    
    margin: 2px;
    display: flex; 
    
    max-width: 1200px;
    
}

main{

    background-image: url(../images/fundo.png);
    background-size: 80px;
    
    display: flex;
    flex: 1;

    flex-direction: column;
    align-items: center;
    
    gap: 20px;
    
}

#gif{

    width: 79%;
    max-width: 1000px;

    border-radius: 10px;
    margin-top: 30px;

}

section{
    
    max-width: 1200px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    padding: 10px;
    gap: 10px;
    
    flex: 1;

}

.dis{

    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    border-radius: 10%;
    
    height: 150px;
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    text-align: center;
    font-size: 1rem;

    padding: 5px;

}

a{

    text-decoration: none;
    color: rgb(255, 255, 255);

}

.indis{

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10%;
    
    height: 150px;
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: rgba(255, 255, 255, 0.3);

    font-family: sans-serif;
    text-align: center;
    font-size: 1rem;

    padding: 5px;

}

#aga1{

    font-weight: 600;
    font-size: 2rem;

}

footer{

    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;

}

.bola{

    background-color: rgb(8, 50, 145);
    border: 5px solid rgb(238, 115, 1);
    border-radius: 50%;
    
    height: 50px;
    width: 50px;
    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{

    height: auto;
    width: 30px;

}