*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

header{

    background-image: linear-gradient(rgb(238, 115, 1), rgb(253, 166, 3));

    width: 100%;
    min-width: 300px;
    
    height: 20vh;
    min-height: 110px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


#titulo1{

    display: flex;
    justify-content: center;
    
    
}


#titulo2{

    

    width: 90%;
    max-width: 1700px;

    min-height: 50px;
   
}


#sinopse1{

    max-width: 1200px;
    min-width: 300px;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

}


#sinopse2{

    color: white;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
    font-weight: 700;

    
    
    
    
    
}


main{

    background-image: radial-gradient(rgb(12, 87, 230), rgb(0, 7, 27));
    
    width: 100%;
    min-width: 300px;
    
    height: 70vh;
    min-height: 350px;

}


#arte1{

    display: flex;
    justify-content: center;

}


#arte2{

    /* limitar o tamanho ao diminuir */
    
    width: 90%;
    max-width: 1000px;
    
    height: 40%;
    max-height: 100px;


    border-radius: 6px;

    margin-top: 10px;

}


section{
    
    display: flex;
    justify-content: space-around  ;
    align-items: center;

    height: 40%;
    width: 90%;

}


article{

    background-color: white;
    border-radius: 10%;

}


a{


    color: black;
    
    

}


footer{

    background-color: rgb(163, 24, 24);

    display: flex;
    justify-content: space-around;
    align-items: center;
 
    width: 100%;
    min-width: 300px;

    height: 10vh;
    min-height: 50px;
}

#botons{

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 80%;
    max-width: 900px;
    min-width: 360px;

    height: 100%;
    
    

}

#bola1{

    background-color: rgb(238, 115, 1);

   height: 50px;
   width: 50px;
   border-radius: 50%;

   display: flex;
   justify-content: center;
   align-items: center;
   

}


#bola2{

   background-color: rgb(8, 50, 145);

   height: 85%;
   width: 85%;
   border-radius: 50%;

   display: flex;
   align-items: center;
   justify-content: center;


}


#logos{

    height: 75%;
    width: 75%;

}