*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{

    background-image: radial-gradient(rgb(12, 87, 230), rgb(0, 7, 27));
    
    display: flex;
    flex-direction: column;
   
    height: 100%;
    min-height: 100dvh;

}

header{

    background-image: linear-gradient(rgb(238, 115, 1), rgb(253, 166, 3));

    width: 100dvw;
    min-width: 300px;
    
    
    

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}

#img_topo{

    width: 95%;
    max-width: 1200px;

    margin: 10px;
    
}

nav{

    width: 100dvw;    
    max-width: 1000px;

    display: flex;    
    flex-direction: column;
    flex-grow: 1;
    
    padding: 0px 10px;

}

#menu{
    
    display: flex;
    
    list-style: none;
    
    gap: 10px;
    padding-bottom: 10px;
    
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-shadow: 1px 1px 8px black;

    

}

#acesso{
    text-decoration: none;
    color: white;
}


main{

    background-image: url(../../images/fundo.png);
    background-size: 80px;
    
    flex: 1;

    width: 100dvw;
    min-width: 300px;
    
    height: 70dvh;
    min-height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 20px;
    
}

article{
    
    width: 100%;
    max-width: 1200px;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    flex: 1;

}

.dis{

    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px white;
    border-radius: 10%;
    
    height: 80px;
    width: 130px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.indis{

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10%;
    
    height: 80px;
    width: 130px;

    display: flex;
    align-items: center;
    justify-content: center;

}

footer{

    background-color: rgb(255, 255, 255);

    display: flex;
    
    align-items: center;
    justify-content: center;
 
    width: 100dvw;
    min-width: 300px;

    height: 10dvh;
    min-height: 50px;

    

}

#botons{

    display: flex;
   justify-content: space-around;
   align-items: center;
    
    max-width: 900px;
    min-width: 300px;

    gap: 5px;

}

#bola1{

   background-color: rgb(238, 115, 1);

   height: 50px;
   width: 50px;
   border-radius: 50%;

   display: flex;
   justify-content: center;
   align-items: center;
   
}

#bola2{

   background-color: rgb(8, 50, 145);

   height: 85%;
   width: 85%;
   border-radius: 50%;

   display: flex;
   align-items: center;
   justify-content: center;

}

#acesso2{

    height: 75%;
    width: 75%;

}

#logos{

    height: 100%;
    width: 100%;
    
}